*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ol,li{
    list-style: none;
}    
.clr{
    clear: both;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.back-to-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    z-index: 999;
    display: none;
}
.back-to-top i{
    font-size: 20px;
    background: #52e0c6;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 999999;
    display: flex;
    justify-content: center;
}
.loader{
    align-self: center;
}

/*======common css =======*/
.bg{
    background: #2f3f42;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    animation: bg 1s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
@keyframes bg{
    from{top: -50px}
    to{top: 0px}
}
header{
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 30px;
    transition: all 0.3s linear;
    
}
.header_area{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;   
    
}

.logo_area{
    width: 270px;
}
.nav_area{
width: 900px;
}

.nav_area ul{
    text-align: right;
}
.nav_area ul li {
    display: inline-block;
    padding-left: 54px;
}

.nav_area ul li a {
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}
.nav_area ul li a.active {
    color: #fce38a;
    padding-bottom: 10px;
    border-bottom: 2px solid #fce38a;
}
.nav_area ul li a:hover {
    color: #fce38a;
    padding-bottom: 10px;
    border-bottom: 2px solid #fce38a;
}

/*======header part end css =======*/
.banner{
    background: url(../IMAGES/banner.png);
   ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_text{
    text-align: center;
}

.banner_text h2{
    padding-top: 212px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}
.banner_text h1{
    padding-top: 33px;
    font-size: 150px;
    color: #fff;
      font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 140px;
    text-transform: capitalize;
    padding-bottom: 120px;
    position: relative;
}
.banner_text h1::after{
    position: absolute;
    bottom: 60px;
    left: 580px;;
    width: 60px;
    height: 3px;
    background: #fff;
    content: '';
    transform: translateX(-50%);
}
 .botton{
    padding-bottom: 240px;
}
.banner_text a{
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 12px 30px;
}

/*======Banner part end css =======*/
.about{
    background: #fff;
}
.about_text{
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
.about_text h3{
    padding-top: 87px;
    padding-bottom: 10px;
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
    
}
.about_text h2{
    padding-bottom: 75px;
    font-size: 30px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.about_text h2::after{
    position: absolute;
    bottom: 40px;
    left: 470px;;
    width: 60px;
    height: 3px;
    background: #f38181;
    content: '';
    transform: translateX(-50%);
}
.about_text p{
    padding-bottom: 100px;
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.about_card{
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
.about_card1{
    width: 370px;
    position: relative;
    
}
.about_card1 img{
    width: 100%;
}
.over h3{
    font-size: 18px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.over i{
    color: #fff;
    padding-top: 100px;
}
.over{
     width: 0;
    position: absolute;
    background: linear-gradient(to bottom, #dd8876 4%, #e2c77c 100%);
    top: 0;
    overflow: hidden;
    text-align: center;
    height: 100%;
    transition: 0.7s ease;
}
.about_card1:hover .over{
    width: 100%;
}
/*======About part end css =======*/

.number{
    background: #95e1d3;
}

.number_area{
    display: flex;
}

.number1{
    width: 234px;
    text-align: center;
}

.number1 h3{
   font-size: 72px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 6px;
    
}

.number1 p{
   font-size: 14px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 90px;
    text-transform: uppercase;
}

/*======Number part end css =======*/
.amazing{
    background: #fff;
}
.amz_text{
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
.amz_text h3{
     padding-top: 105px;
    padding-bottom: 15px;
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}
.amz_text h2{
   padding-bottom: 100px;
    font-size: 30px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.amz_text h2::after{
    position: absolute;
    bottom: 64px;
    left: 470px;;
    width: 60px;
    height: 3px;
    background: #f38181;
    content: '';
    transform: translateX(-50%);
}
.services_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services_card{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.services_image{
    width: 35px;
}
.services_text{
    width: 290px;
}
.services_text h3{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    padding-bottom: 11px;
    
}
.services_text p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    line-height: 24px;
    padding-bottom: 100px;
}

/*======services part end css =======*/


.massage{
    background: #f8f8f8;
    margin-bottom: 6px;
}
.mass{
    text-align: center;
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.mass_image{
    width: 150px;
    padding-top: 75px;
    padding-bottom: 70px;
}
.mass_image img{
    padding: 40px;
    border: 2px solid #95e1d3;
}
.mass_text{
    width: 780px;
}
.mass_text p{
    font-size: 24px;
    text-align: left;
    color: #999;
    padding-top: 80px;
    line-height: 36px;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
}
.mass_text h4{
    font-size: 24px;
    color: #333;
    text-align: left;
    padding-top: 10px;
    text-transform: capitalize;
     font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    padding-left: 70px;
    position: relative;
}
.mass_text h4::after{
    position: absolute;
    bottom: 13px;
    left: 30px;;
    width: 60px;
    height: 3px;
    background: #f38181;
    content: '';
    transform: translateX(-50%);
}

/*======Massage part end css =======*/
.meet{
    background: #fff;
}
.meet_area{
    display: flex;
    justify-content: space-between;
}
.meet_card{
    width: 380px;
    text-align: center;
    position: relative;
}
.over_icon{
    padding-top: 230px;
}

.over_icon a{
     padding: 15px;
    background: #fce38a;
}
.over_icon a:hover{
    background: #f38181;
  
}
.over_icon i:hover{
      color: #fff; 
}
.over_icon i{
   color: #f38181;
    font-size: 20px;
}
.over_one{
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #dd8876 4%, #e2c77c 100%);
    top: 0;
    overflow: hidden;
    text-align: center;
    height: 100%;
    transition: 0.4s ease;
    opacity: 0;
}
.over_one:hover{
    opacity: 1;
}
.meet_text{
    text-align: center;
}
.meet_text h3{
   font-size: 14px;
   color: #333;
   font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
}
.meet_text h4{
    font-size: 14px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
     font-weight: 300;
    padding-top: 10px;
    padding-bottom: 6px;
}

/*======Meet part end css =======*/
.work{
    margin-bottom: 100px;
}
.work_area{
    display: flex;
}
.work_image{
    width: 25%;
}
.work_image img{
    width: 100%;
    vertical-align: middle;      
}
/*======Work part end css =======*/

.footer{
    background: #f8f8f8;
    padding-bottom: 70px;
}
.footer_area{
    display: flex;
    justify-content: space-between;
}
.footer_start{
    width: 470px;
}
.footer_start img{
    padding-top: 73px;
    padding-bottom: 34px;
}
.footer_start p{
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
     font-weight: 400;
     padding-bottom: 50px;
    line-height: 24px;
}
.footer_start h4{
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
     font-weight: bold;
    padding-bottom: 20px;
}
.footer_start span{
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
     font-weight: 400;
}
.footer_start h5{
    border-bottom: 1px solid #999;
}
.footer_icon{
    display: flex;
}
.footer_icon i{
    padding-top: 20px;
    padding-bottom: 40px;
}
.follow h6{
    padding-top: 20px;
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.footer_start i{
    color: #6fe2cd;
    padding-left: 10px;
}
.email input{
    width: 230px;
    padding: 16px;
    border: 1px solid #e7e7e7;
}
.email input::placeholder{
    color: #cccccc;
    font-size: 15px;
}
.email button{
    padding: 15px 35px;
    border: 1px solid #e7e7e7;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    background: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/*======Footer start part end css =======*/
.footer_center{
    width: 335px;
}
.footer_center h3{
    padding-top: 80px;
    font-size: 14px;
    color: #333;
     font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 38px;
}
.blog_para h4{
    padding-top: 15px;
    font-size: 12px;
    color: #333;
     font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 6px;
    line-height: 18px;
    text-transform: uppercase;
}
.blog_para p{
    font-size: 13px;
    color: #999999;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.footer_blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}
.blog_image{
    width: 122px; 
}
.blog_para{
    width: 200px;
}
/*======Footer center part end css =======*/
.footer_end{
    width: 275px;
    display: flex;
    flex-wrap: wrap;
}
.footer_end h3{
    padding-top: 80px;
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
}
.footer_end a{
    font-size: 13px;
    color: #333333;
}


.psd_end{
    background: #f8f8f8;
}
.psd{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #e5e5e5;
}
.psd p{
    font-size: 14px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.psd span{
    color: #f4a4a4;
}

